@use '../../styles/colors/colors';
@use '../../styles/breakpoints/breakpoints';

.usersList {
	padding: 24px 12px;
	background-color: colors.$backgroundMain;
}

@media (min-width: breakpoints.$layoutBreakpoint) and (orientation: portrait) {
	.usersList {
		padding: 32px 45px;
	}
}

@media (min-width: breakpoints.$layoutBreakpoint) and (orientation: landscape) {
	.usersList {
		padding: 24px 165px;
	}
}
